SCD_ENVIRONMENT=development
SCD_LOG_LEVEL=info
SCD_DATA_DIR=data
SCD_TEMP_DIR=data/tmp
SCD_LIBRARY_DIR=data/library
SCD_HTTP_TIMEOUT_SECONDS=30
SCD_HTTP_MAX_RETRIES=3
SCD_HTTP_BACKOFF_BASE_SECONDS=0.5
SCD_MAX_PARALLEL_TRACKS_PER_USER=2
SCD_MAX_PARALLEL_SEGMENTS_PER_TRACK=8
SCD_ENABLE_PUBLIC_MODE=true
SCD_ENABLE_GO_PLUS_MODE=true
SCD_ALLOW_NETWORK=false
SCD_ALLOW_FILESYSTEM_WRITES=false
